@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');

#mui-box{
    height: 100%;
    width: 100%;
    padding: 0;
}

.inventory-margin{
    margin-top: 75px;
}

.inventory-header{
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 75px;
    width: calc(100% - 500px);
    display: flex;
    position: fixed;
    border-bottom: 1px solid rgb(218, 218, 218);
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
}

.inventory-table-even{
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    background: #e5e5e5;
    box-sizing: border-box;
}

.inventory-table-odd{
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    background: white;
    box-sizing: border-box;
}

#dark{
    background: #e5e5e5;
}

#material-table{
    width: 100%;
}

.newItemContainer{
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 50px;
    width: calc(100vw - 500px);
    display: flex;
    border-bottom: 1px solid rgb(218, 218, 218);
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
}

.test{
    width: 15%;
}

.cell1{
    width: 55%;
    box-sizing: border-box;
    outline: none;
}

.cell2{
    width: 12.5%;
    box-sizing: border-box;
    outline: none;
}

.cell3{
    width: 12.5%;
    box-sizing: border-box;
    outline: none;
}

.editModal{
    height: 50%;
    width: 50%;
    background: black;
    position: fixed;
    top: 25%;
    right: calc(25% - 250px);
}

.inventoryModal{
    height: 50%;
    width: 50%;
    background: #e5e5e5;
    position: fixed;
    top: 25%;
    right: calc(25% - 250px);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Alegreya Sans SC, sans-serif;
    border-radius: 5px;
    border: 4px solid rgb(70, 69, 69);
}

.modal-header {
    margin-bottom: 1em;
    font-size: 2em;
    text-decoration: underline;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 2em;
    font-size: .95em;
}


.input-container {
    display: flex; 
    justify-content: space-around;
    width: 50%;
    flex-direction: column;
    height: 40%;
}

.input-container > input {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(70, 69, 69);
    height: 10%;
    color: black;
    font-size: .9em;
    background-color: transparent;
    padding-bottom: .3em;
}

.input-container > input::placeholder {
    color: black;
    font-size: 1em;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-top: 2em;
}

.submit-btn {
    color: white;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
    border: none;
    background: rgb(100, 13, 13); 
    font-family: Alegreya Sans SC, sans-serif;
    transition: 100ms;
    padding: .4em;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(100, 13, 13, 0.75);
}

.cancel-btn {
    color: black;
    /* width: 75px;
    height: 38px; */
    border-radius: 4px;
    font-size: 1em;
    /* margin-left: 3em; */
    outline: none;
    border: none;
    background: white; 
    font-family: Alegreya Sans SC, sans-serif;
    transition: 100ms;
}

.cancel-btn:hover {
    background-color: rgb(202, 202, 202); 
}