@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');

.dashboard-container{
    height: 100vh;
    background: #947c7c;
}

.dashboard-margin{
    height: 75px;
}

.dashboard-link{
    text-decoration: none;
    color: #393E41;
}

.company-name{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 72px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: capitalize;
    color: #393E41;
    transform: scale(1, .9);
}

.dashboard-warehouses-container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard-warehouses{
    min-height: 100px;
    width: 350px;
    display: flex;
    justify-content: space-around;
}