.outer-container {
    margin-left: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sale-search-box {
    margin-top: 3.5em;
    width: 60vw;
    display: flex;
    justify-content: center;
    font-family: Alegreya Sans SC, sans-serif;
}

.saleId-input-box {
    font-size: .9em;
    width: 30vw;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.search-button {
    color: white;
    width: 75px;
    height: 38px;
    border-radius: 4.5px;
    font-size: .9em;
    margin-left: 3em;
    outline: none;
    background: rgb(100, 13, 13); 
    font-family: Alegreya Sans SC, sans-serif;
    transition: 100ms;
}

.search-button:hover {
    cursor: pointer;
    background-color: rgb(100, 13, 13, 0.75);
}

.sale-info-container {
    margin-top: 5em;
    height: 20vh;
}

.item-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: .5em;
    width: 40vw;
}

.item-list p {
    appearance: none;
}